
*.cmake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
cmake-build-debug/
cmake-build-release/
Game Development/TUTs/01_hello_SDL/build/
Game Development/TUTs/02_getting_an_image_on_the_screen/build/